@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap");
* *,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  color: #D9D9D9;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans serif;
}

body {
  background-color: #151515;
  overflow-x: hidden; /* To avoid overflowing due to style img */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  z-index: 2;
  position: relative;
}
.header div .logo {
  color: #FFFFFF;
  margin: 10px 10px;
  position: relative;
  text-decoration: none;
  font-size: 1.4rem;
}
.header .social-media a img {
  margin: 20px 10px;
}

.hero {
  top: -120px;
  position: relative;
  z-index: 1;
  /* TITLE - TEXT - BTN */
}
.hero .profile-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  position: relative;
  /* Make overflowing img to be absolute to it's relative containing block */
  /* &::after{
      content: url(../assets/images/pattern-circle.svg);
      position: absolute;
      bottom: -25px;
      right: -60px;
  } */
}
.hero .profile-container .profile-circle {
  position: absolute;
  bottom: 60px;
  right: 400px;
  overflow: hidden;
}
@media only screen and (min-width: 75rem) {
  .hero .profile-container .profile-circle {
    position: absolute;
    bottom: 60px;
    right: 259px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 81rem) {
  .hero .profile-container .profile-circle {
    position: absolute;
    bottom: 40px;
    right: 339px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 93rem) {
  .hero .profile-container .profile-circle {
    position: absolute;
    bottom: 50px;
    right: 399px;
    overflow: hidden;
  }
}
.hero .profile-rings {
  position: absolute;
  top: 140px;
  left: -160px;
}
.hero picture img {
  width: clamp(200px, 50vw, 450px);
}
.hero h1 {
  margin-top: 30px;
  font-size: clamp(2.2rem, 5vw + 1.6rem, 5.5rem);
  color: #FFFFFF;
  text-align: center;
  padding: 25px;
  /* &::after{
      content: url(../assets/images/pattern-rings.svg);
      position: absolute;
      top: 128px;
      right: 200px;
      z-index: -1;
  } */
}
.hero h1 span {
  border-bottom: 4px solid #4EE1A0;
}
.hero .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .text-container p {
  padding: 15px;
  text-align: center;
}
.hero .text-container button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  border-bottom: 2px solid #4EE1A0;
  padding-bottom: 10px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1.5px;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-top: -35px;
}
main .skills-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  border-top: 2px solid #D9D9D9;
  border-bottom: 2px solid #D9D9D9;
  width: calc(75vw + 10px);
  align-items: center;
  position: relative;
  /* &::after{
      content: url(../assets/images/pattern-rings.svg);
      position: absolute;
      bottom: -50px;
      right: -390px;
  } */
}
main .skills-container .skills-rings {
  position: absolute;
  bottom: -30px;
  right: -320px;
  overflow: hidden;
}
main .skills-container .skills {
  padding: 15px;
}
main .skills-container .skills h2 {
  text-align: center;
  color: #FFFFFF;
}
main .skills-container .skills:nth-child(1) {
  padding-top: 50px;
}
main .skills-container .skills:nth-child(6) {
  padding-bottom: 50px;
}

.solo-rings {
  position: absolute;
  bottom: -520px;
  right: -390px;
}

.mid-container {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85vw;
}
.mid-container h2 {
  font-size: clamp(2.2rem, 5vw + 1.5rem, 6rem);
  color: #D9D9D9;
}
.mid-container button {
  background-color: transparent;
  border: none;
  color: #D9D9D9;
  border-bottom: 2px solid #4EE1A0;
  padding-bottom: 10px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: -5px;
}
.projects-container .project-img picture img {
  max-width: 100%;
}
.projects-container .project-text {
  margin-left: 6px;
}
.projects-container .project-text h3 {
  padding: 7px 0;
  color: #FFFFFF;
  font-size: clamp(1.2rem, 2.5vw + 0.15rem, 1.8rem);
}
.projects-container .project-text h4 span {
  padding: 7px 0;
  margin-right: 10px;
  color: #D9D9D9;
}
.projects-container .project-button {
  margin-bottom: 20px;
  margin-left: 6px;
}
.projects-container .project-button button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  border-bottom: 2px solid #4EE1A0;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-right: 25px;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  cursor: pointer;
  margin-bottom: 25px;
}

.contact-container {
  background-color: #242424;
}
.contact-container .contact-title-text {
  margin: 10px;
  text-align: center;
}
.contact-container .contact-title-text h2 {
  font-size: clamp(1.8rem, 5vw + 0.15rem, 2.5rem);
  padding: 45px 0 15px 0;
}
.contact-container .contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 50px;
  margin-right: calc(9vw + 10px);
  margin-left: calc(5vw + 10px);
}
.contact-container .contact-form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  width: 80vw;
  padding: 1.7rem 1.4rem 0.7rem 1.4rem;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
.contact-container .contact-form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  resize: none;
  width: 80vw;
  padding: 1.7rem 1.4rem 0.7rem 1.4rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: inherit;
}
.contact-container .contact-form input:focus, .contact-container .contact-form textarea:focus {
  outline: none;
}
.contact-container .contact-form .ring {
  position: absolute;
  right: 67vw;
  margin-top: 200px;
}
.contact-container .contact-form button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  border-bottom: 2px solid #4EE1A0;
  padding-bottom: 10px;
  margin-top: 40px;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1.5px;
  cursor: pointer;
}

footer {
  background-color: #242424;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
}
footer .footer-container div .logo {
  color: #FFFFFF;
  position: relative;
  text-decoration: none;
  font-size: 1.4rem;
}
footer .footer-container .social-media a img {
  margin: 20px 10px;
}

@media screen and (min-width: 37.5rem) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .hero {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: end;
    max-height: 750px;
  }
  .hero .profile-container {
    grid-column: 4/7;
    grid-row: 1/5;
  }
  .hero h1 {
    grid-column: 1/5;
    grid-row: 3/4;
    text-align: left;
    z-index: 2;
    margin-bottom: 50px;
  }
  .hero h1::after {
    right: 450px;
    top: 162px;
  }
  .hero .text-container {
    grid-column: 1/4;
    grid-row: 4/5;
  }
  .hero .text-container p {
    font-size: 1.2rem;
    text-align: left;
    padding: 0 0 20px 20px;
  }
  .hero .text-container button {
    margin-left: -150px;
  }
}
@media screen and (min-width: 62.5rem) {
  .header {
    margin: 25px 35px 30px 120px;
  }
  .hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: end;
    max-height: 750px;
  }
  .hero .profile-container {
    grid-column: 9/13;
    grid-row: 1/7;
  }
  .hero .profile-container::after {
    left: -70px;
    bottom: 20px;
  }
  .hero h1 {
    grid-column: 2/11;
    grid-row: 3/4;
    text-align: left;
    z-index: 2;
    margin-bottom: 50px;
    width: 900px;
  }
  .hero h1::after {
    right: calc(54vw + 130px) !important;
    top: 124px;
  }
  .hero .text-container {
    grid-column: 2/7;
    grid-row: 4/5;
  }
  .hero .text-container p {
    font-size: 1.2rem;
    text-align: left;
    padding: 0 0 20px 20px;
    margin: 0 66px 0 0;
  }
  .hero .text-container button {
    margin-left: -240px;
  }
}
* *,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  color: #D9D9D9;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans serif;
}

body {
  background-color: #151515;
  overflow-x: hidden; /* To avoid overflowing due to style img */
}

/*# sourceMappingURL=style.css.map */
