@import "./base";
@import "./variables";
//    =====================     //
//            Footer            //
//    =====================     //
footer{
    background-color: $gray;

    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        border-top: 2px solid $light-gray;
        width: 85%;
        margin: 0 auto;
        padding-bottom: 35px;
        max-width: 1330px;
        
        @media only screen and (min-width:$bp-tab){
            flex-direction: row;
            justify-content: space-between;
        }

        div{
            .logo{
                color: $white;
                position: relative;
                text-decoration: none;
                font-size: 1.4rem;
                position: relative;
            }
            .ring{
                position: absolute;
                right: 180px;
                top: -162px;
                @media only screen and (min-width:$bp-first){
                    right:340px
                }
                @media only screen and (min-width:$bp-tab){
                    right:385px
                }
                @media only screen and 
                (min-width:$bp-tabbb-pro){
                    right:460px
                }
                @media only screen and 
                (min-width:$bp-tabbb-pro){
                    right:580px
                }
                @media only screen and 
                (min-width:$bp-tabbb-prop){
                    right:700px
                }
                @media only screen and (min-width: $bp-bigger-laptop){
                    right: 938px
                }
                @media only screen and (min-width: $bp-higher-res){
                    right: 1200px
                }
            }
        }
        .social-media a img{
            margin: 20px 10px;
        }
    }
}
