@import "./base";
@import "./variables";
//    =====================     //
//            Footer            //
//    =====================     //
footer{
    background-color: $gray;

    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        border-top: 2px solid $light-gray;
        width: 85%;
        margin: 0 auto;
        padding: 10px 0 25px 0;
        max-width: 1300px;
        
        @media only screen and (min-width:$bp-tab){
            flex-direction: row;
            justify-content: space-between;
        }

        div{
            .logo{
                color: $white;
                position: relative;
                text-decoration: none;
                font-size: 1.4rem;
                position: relative;
            }
            .ring{
                position: absolute;
                right: 180px;
                top: -162px;
                @media only screen and (min-width:$bp-first){
                    right:340px
                }
                @media only screen and (min-width:$bp-tab){
                    right:460px
                }
                @media only screen and 
                (min-width:$bp-tabbb-pro){
                    right:460px
                }
                @media only screen and 
                (min-width:$bp-tabbb-pro){
                    right:580px
                }
                @media only screen and 
                (min-width:$bp-tabbb-prop){
                    right: 550px;
                }
                @media only screen and 
                (min-width:$bp-spro){
                    right: 640px;
                }
                @media only screen and 
                (min-width:$bp-ipad-pro){
                    right: 720px;
                }
                @media only screen and (min-width: $bp-bigger-laptop){
                    right: 938px
                }
                @media only screen and (min-width: $bp-higher-res){
                    right: 1200px
                }
            }
        }
        .social-media{
            display: flex;
        }
        .social-media a svg{
            display: flex;
            margin: 10px 8px;
            padding-left: 11px
        }
        #Oval-1:hover {
            fill: $green; transition: ease-in-out 0.1s all;
        }
    }
}
