@import "./base";
@import "./variables";
//    =====================     //
//             Main             //
//    =====================     //
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-top: -35px;
    max-width: 75rem;
    margin: 0 auto;

    .skills-container{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        border-top: 2px solid $light-gray;
        border-bottom: 2px solid $light-gray;
        width: calc(83vw + 10px);
        align-items: center;
        position: relative;
        padding-top: 50px;
        padding-bottom: 50px;
        max-width: 77rem;
        margin: 0 auto;

        @media only screen and (min-width:$bp-tab){
            grid-template-columns: 1fr 1fr;
            justify-items: baseline;
        }

        .skills-rings{
            position: absolute;
            bottom: -30px;
            right: -320px;
            overflow: hidden;

            @media only screen and (min-width:$bp-tab){
                bottom: -30px;
                right: -396px;
            }
        }
        .skills{
            padding: 20px 0 20px 0;

            h2{
                text-align: center;
                color: $white;
                font-size: 1.7rem;

                @media only screen and (min-width:$bp-tab){
                    text-align: left;
                    font-size: 2rem;
                }
            }
        }
    }
    
}

//    =====================     //
//         Mid Section          //
//         Title + Btn          //
//    =====================     //
.mid-container{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    

    h2{
        font-size: clamp(2.2rem, 5vw + 1.5rem, 6rem);
        color: $light-gray;

    }
    button{
        background-color: transparent;
        border: none;
        color: $light-gray;
        border-bottom: 2px solid $green;
        padding-bottom: 10px;
        margin-top: 20px;
        font-weight: bold;
        font-size: .8rem;
        letter-spacing: 1.5px;
        cursor: pointer;
    }
}
//    =====================     //
//          Projects            //
//    =====================     //
.projects-container{
    display: grid;
    grid-template-columns: 1fr;
    margin: -5px;
    
    @media only screen and (min-width:$bp-tab){
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .project-img picture img {
        max-width: 100%;
      }
    .project-text{
        margin-left: 6px;
        h3{
            padding: 7px 0;
            color: $white;
            font-size: clamp(1.2rem , 2.5vw + .15rem, 1.8rem);
        }
        h4{
            span{
                padding: 7px 0;
                margin-right: 10px;
                color: $light-gray;
            }
        }
    }
    .project-button {
        margin-bottom: 20px;
        margin-left: 6px;

        button{
            background-color: transparent;
            border: none;
            color: $white;
            border-bottom: 2px solid $green;
            padding-bottom: 10px;
            margin-top: 30px;
            margin-right: 25px;
            font-weight: 600;
            font-size: .8rem;
            letter-spacing: 1.5px;
            cursor: pointer;    
            margin-bottom: 25px;
        }
    }
}