@import "./base";
@import "./variables";
//    =====================     //
//             Main             //
//    =====================     //
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -35px;
    max-width: 84vw;
    margin: 0 auto;

    .skills-container{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        border-top: 2px solid $light-gray;
        border-bottom: 2px solid $light-gray;
        width: calc(83vw + 10px);
        align-items: center;
        position: relative;
        padding-top: 50px;
        padding-bottom: 50px;
        max-width: 75rem;
        margin: 0 auto;

        @media only screen and (min-width:$bp-tab){
            grid-template-columns: 1fr 1fr;
            justify-items: baseline;
        }
        @media only screen and (min-width:$bp-mb-pro){
            border-bottom: none;  
            grid-template-columns: 1fr 1fr 1fr;
        }

        .skills-rings{
            position: absolute;
            bottom: -30px;
            right: -320px;
            overflow: hidden;

            @media only screen and (min-width:$bp-tab){
                bottom: -30px;
                right: -396px;
            }
            
            @media only screen and (min-width: $bp-bigger-laptop){
                right: -300px;
            }
        }
        .skills{
            padding: 20px 0 20px 0;

            h2{
                text-align: center;
                color: $white;
                font-size: 1.7rem;

                @media only screen and (min-width:$bp-tab){
                    text-align: left;
                    font-size: 2rem;
                }
                @media only screen and (min-width: $bp-bigger-laptop){
                    font-size: 2.5rem;
                }
            }
        }
    }
    
}

//    =====================     //
//         Mid Section          //
//         Title + Btn          //
//    =====================     //
.mid-container{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1215px;
    width: 84vw;

    h2{
        font-size: clamp(2.2rem, 5vw + 1.5rem, 6rem);
        color: $white;

    }

    /***** BUTTON *****/
    @include btn-hover;
    button{
        font-size: .9rem;
        padding: 0.7em 0.2em;
        @media only screen and (min-width: $bp-tabbb){
            font-size: 1.1rem;
            padding: 0.7em 0.9em;
        }
    }
}
//    =====================     //
//          Projects            //
//    =====================     //
.projects-container{
    display: grid;
    grid-template-columns: 1fr;
    margin: -5px;
    width: 84vw;
    max-width: 1250px;

    @media only screen and (min-width:$bp-tab){
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    @media only screen and (min-width: $bp-mb-pro) {
        margin-bottom: 100px;
    }
    .project-img picture img {
        max-width: 100%;
    }
    /* Projects containers*/
    .project-img {
        cursor: pointer;
    
        @media only screen and (min-width: $bp-mb-pro) {
          display: flex;
          position: relative;
          z-index: 0;
          align-items: center;
          justify-content: center;
          
          /* Make displayed:none buttons to appear */
          &:hover .desktop-button{
            display: flex;
          }

          /* Create a gray transparent Layer ::before the img */
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: hsla(0, 0%, 0%, 0.72);
            transition: opacity 0.32s ease-in-out;
          }
          /* Create the opacity on :hover */
          &:hover::before {
            opacity: 1;
          }
        }
    }

    /* Small title & Skills used */
    .project-text{
        margin-left: 6px;
        h3{
            padding: 0px 0 7px 0;
            color: $white;
            font-size: clamp(1.2rem , 2.5vw + .15rem, 1.8rem);
        }
        h4{
            span{
                padding: 7px 0;
                margin-right: 10px;
                color: $light-gray;
            }
        }
    }
    /* Project Buttons */
    .project-button {
        margin-bottom: 20px;
        margin-left: 6px;
        @media only screen and (min-width: $bp-mb-pro) {
            display: flex;
            position: absolute;
            z-index: 1;
            flex-direction: column;
        }
        button{
            background-color: transparent;
            border: none;
            color: $white;
            border-bottom: 2px solid $green;
            padding-bottom: 10px;
            margin-top: 30px;
            margin-right: 25px;
            font-weight: 600;
            font-size: .8rem;
            letter-spacing: 1.5px;
            cursor: pointer;    
            margin-bottom: 25px;
            &:hover{
                color: $green;
                transition: 0.3s ease-in-out;
            }
            @media only screen and (min-width: $bp-mb-pro) {
                display: none;
                color: $black;
            }
        }
    }
    /* Desktop Project Buttons */
    .desktop-button{
        margin-bottom: 20px;
        margin-left: 6px;
        align-items: center;

        @media only screen and (min-width: $bp-mb-pro) {
            display: flex;
            position: absolute;
            z-index: 1;
            flex-direction: column;
            display: none;
        }
        button{
            background-color: transparent;
            border: none;
            color: $white;
            border-bottom: 2px solid $green;
            padding-bottom: 10px;
            margin-top: 30px;
            font-weight: 700;
            font-size: .9rem;
            letter-spacing: 1.5px;
            cursor: pointer;    
            margin-bottom: 20px;
            &:hover{
                color: $green;
                transition: 0.3s ease-in-out;
            }
            @media only screen and (max-width: $bp-mb-pro) {
                display: none;
                color: $black;
            }
        }
    }
}