@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');
// ====================== //
//         COLORS         //
// ====================== //

$black: #151515;
$gray: #242424;
$light-gray: #D9D9D9;
$white: #FFFFFF;
$green: #4EE1A0; 

// ====================== //
//       FONT-WEIGHT      //
// ====================== //

$fw-b: 700;
$fw-m: 500;

// ====================== //
//          RESET         //
// ====================== //
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
    font-size: 1rem;
    color: $light-gray;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans serif;
}
  
body{
    background-color: $black;
}

